<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carrc.seniorproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".StarterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".EmployeeDashboardActivity" />
        <activity android:name=".ManagerDashboardActivity" />
        <activity android:name=".CustomerDashboardActivity" />
        <activity android:name=".CreateEmployeeAccountActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".EmployeeChatActivity" />
        <activity android:name=".UpdateAccountInfoActivity" />
        <activity android:name=".DeleteEmployeeAccountActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".MenuMainActivity" />
        <activity android:name=".MenuItemActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".CreateRecipeActivity" />
        <activity android:name=".RecipeManagementActivity" />
        <activity android:name=".EditRecipeActivity" />
        <activity android:name=".DeleteRecipeActivity" />
        <activity android:name=".FavoriteMealsActivity" />
        <activity android:name=".EditFavoriteActivity" />
        <activity android:name=".IngredientManagementActivity"></activity>
    </application>

</manifest>